<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SecondaryText</key>
	<dict>
		<key>fontSize</key>
		<integer>14</integer>
		<key>foregroundColor</key>
		<string>black</string>
		<key>fontWeight</key>
		<string>medium</string>
	</dict>
	<key>PrimaryButton</key>
	<dict>
		<key>backgroundColor</key>
		<string>green</string>
		<key>foregroundColor</key>
		<string>white</string>
		<key>fontSize</key>
		<integer>14</integer>
		<key>cornerRadius</key>
		<integer>10</integer>
	</dict>
	<key>PrimaryText</key>
	<dict>
		<key>fontSize</key>
		<string>16</string>
		<key>foregroundColor</key>
		<string>black</string>
		<key>fontWeight</key>
		<string>bold</string>
		<key>backgroundColor</key>
		<string>clear</string>
	</dict>
	<key>menuTitle</key>
	<dict>
		<key>fontSize</key>
		<integer>24</integer>
		<key>foregroundColor</key>
		<string>green</string>
		<key>fontWeight</key>
		<string>bold</string>
		<key>backgroundColor</key>
		<string>clear</string>
	</dict>
	<key>SecondaryButton</key>
	<dict>
		<key>backgroundColor</key>
		<string>red</string>
		<key>foregroundColor</key>
		<string>white</string>
		<key>fontSize</key>
		<integer>14</integer>
		<key>cornerRadius</key>
		<integer>10</integer>
	</dict>
	<key>ImageBackColorStyle</key>
	<dict>
		<key>backgroundColor</key>
		<string>green</string>
	</dict>
	<key>cardView</key>
	<dict>
		<key>backgroundColor</key>
		<string>systemGray5</string>
		<key>cornerRadius</key>
		<integer>15</integer>
		<key>shadowRadius</key>
		<integer>5</integer>
	</dict>
	<key>textViewText</key>
	<dict>
		<key>fontSize</key>
		<integer>24</integer>
		<key>fontWeight</key>
		<string>bold</string>
	</dict>
</dict>
</plist>
